<div class="pagamento" [ngClass]="{'pagamento_revelado': this.mockdataService.selectedData.name != ''}">
    <div class="pagamento__dados" [ngClass]="{'pagamento__dados_revelado': this.mockdataService.selectedData.name != ''}">
        <p class="pagamento__usuario">Pagamento para <strong>{{this.mockdataService.selectedData.name}}</strong></p>
        <form class="pagamento__box" [formGroup]="dados" (ngSubmit)="confirmarPagamento(dados.value)">
            <label class="pagamento__reais">R$
                <input class="pagamento__input"
                    type="text"
                    min="0"
                    maxlength="12"
                    formControlName="quantia"
                    placeholder="0,00"
                    [value]="quantiaInput"
                    (input)="formatarValor($event)"
                    required
                >
            </label>
            <select class="pagamento__seleçao" formControlName="cartao" required>
                <option value="" disabled selected>--Selecione um Cartão--</option>
                <option *ngFor="let c of this.mockdataService.mockCard; let i = index"
                    [value]="i">
                    Cartão com final {{c.card_number.substr(12)}}
                </option>
            </select>
            <button class="botao" type="submit" [disabled]="!dados.valid || this.mockdataService.endpointResponse != undefined">
                <svg class="botao__imagem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M21.856 10.303c.086.554.144 1.118.144 1.697 0 6.075-4.925 11-11 11s-11-4.925-11-11 4.925-11 11-11c2.347 0 4.518.741 6.304 1.993l-1.422 1.457c-1.408-.913-3.082-1.45-4.882-1.45-4.962 0-9 4.038-9 9s4.038 9 9 9c4.894 0 8.879-3.928 8.99-8.795l1.866-1.902zm-.952-8.136l-9.404 9.639-3.843-3.614-3.095 3.098 6.938 6.71 12.5-12.737-3.096-3.096z"/>
                </svg>
                Confirmar Pagamento
            </button>
        </form>
    </div>

    <div class="pagamento__resultado"
        [ngClass]="{'pagamento__resultado_revelado': this.mockdataService.endpointResponse != undefined
                    && this.mockdataService.selectedData.name != '',
                    'pagamento__resultado_reprovado': this.mockdataService.endpointResponse != undefined
                    && this.mockdataService.endpointResponse.success == false}">
        <svg class="pagamento__imagem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path *ngIf="this.mockdataService.endpointResponse != undefined &&
                this.mockdataService.endpointResponse.success == true" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z"/>
            <path *ngIf="this.mockdataService.endpointResponse != undefined &&
                this.mockdataService.endpointResponse.success == false" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/>
        </svg>
        <p class="pagamento__texto">O pagamento 
            <strong *ngIf="this.mockdataService.endpointResponse != undefined &&
                this.mockdataService.endpointResponse.success == false">não </strong>
            foi concluído com sucesso!
        </p>
    </div>
</div>