/* Bloco de pagamento, fixo à direita e revelado apenas quando um usuário é selecionado */
.pagamento {
    position: fixed;
    top: 10vw;
    right: 4vw;
    max-height: calc(100vh - 12vw);
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.pagamento_revelado {
    pointer-events: all;
}
.pagamento::-webkit-scrollbar {
    display: none;
}
/* Janela de formulario do pagamento */
.pagamento__dados {
    position: relative;
    right: -46vw;
    width: 42vw;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.5);
    background-color: white;
    transition: right .6s ease-in-out;
    margin-bottom: 2vw;
}
.pagamento__dados_revelado {
    right: 0vw;
}
/* Topo da janela, com o nome do usuário selecionado */
.pagamento__usuario {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, green, greenyellow);
    color: white;
    margin: 0;
    padding: .75em;
    box-sizing: border-box;
}
/* Formulário da janela */
.pagamento__box {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1.5vw;
}
/* "R$" ao lado do input da quantia */
.pagamento__reais {
    background-image: linear-gradient(45deg, green, greenyellow);
    padding-left: .5em;
    font-size: 1.5vw;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    font-weight: 700;
    margin-bottom: .5vw;
}
/* Input da quantia */
.pagamento__input {
    font-size: 1.5vw;
    text-align: right;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid grey;
    padding: .25em .5vw;
    width: 19.25vw;
}
/* Dropdown de seleção de cartão */
.pagamento__seleçao {
    font-size: 1.5vw;
    border-radius: 12px;
    padding: .25em;
    margin-bottom: 2vw;
    width: 23.5vw;
    text-overflow: ellipsis;
}
/* Segunda parte do bloco, contém feedback da transação e só é revelada após realizado o pagamento */
.pagamento__resultado {
    background-image: linear-gradient(45deg, green, greenyellow);
    position: relative;
    right: -46vw;
    width: 42vw;
    display: flex;
    align-items: center;
    padding: 1.5vw;
    box-sizing: border-box;
    border-radius: 12px;
    transition: right .6s ease-in-out;
}
.pagamento__resultado_revelado {
    right: 0vw;
}
.pagamento__resultado_reprovado {
    background-image: linear-gradient(45deg, red, orangered);
}
/* SVG do resultado */
.pagamento__imagem {
    height: 4vw;
    fill: white;
}
/* Texto do resultado */
.pagamento__texto {
    flex-grow: 1;
    text-align: center;
    color: white;
    font-size: 1.3vw;
}