/* Bloco de pagamento, fixo à direita e revelado apenas quando um usuário é selecionado */
.pagamento {
    position: fixed;
    top: 110px;
    right: 7vw;
    max-height: calc(100vh - 12vw);
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    transition: opacity .2s;
}
.pagamento_revelado {
    pointer-events: all;
    opacity: 1;
}
.pagamento::-webkit-scrollbar {
    display: none;
}
@media only screen and (min-width: 1200px) {
    .pagamento {
        top: 10vw;
        right: 4vw;
    }
}
/* Janela de formulario do pagamento */
.pagamento__dados {
    position: relative;
    right: -46vw;
    width: 86vw;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.5);
    background-color: white;
    transition: right .6s ease-in-out;
    margin-bottom: 2vw;
}
.pagamento__dados_revelado {
    right: 0vw;
}
@media only screen and (min-width: 1200px) {
    .pagamento__dados {
        width: 42vw;
    }
}
/* Topo da janela, com o nome do usuário selecionado */
.pagamento__usuario {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, green, greenyellow);
    color: white;
    margin: 0;
    padding: .75em;
    box-sizing: border-box;
}
/* Formulário da janela */
.pagamento__box {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 16px;
}
@media only screen and (min-width: 1200px) {
    .pagamento__box {
        padding: 1.5vw;
    }
}
/* "R$" ao lado do input da quantia */
.pagamento__reais {
    background-image: linear-gradient(45deg, green, greenyellow);
    padding-left: .5em;
    font-size: 24px;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    font-weight: 700;
    margin-bottom: .5vw;
}
@media only screen and (min-width: 1200px) {
    .pagamento__reais {
        font-size: 1.5vw;
    }
}
/* Input da quantia */
.pagamento__input {
    font-size: 24px;
    text-align: right;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid grey;
    padding: .25em .5vw;
    width: 240px;
}
@media only screen and (min-width: 1200px) {
    .pagamento__input {
        font-size: 1.5vw;
        width: 19.25vw;
    }
}
/* Dropdown de seleção de cartão */
.pagamento__seleçao {
    font-size: 24px;
    border-radius: 12px;
    padding: .25em;
    margin-bottom: 24px;
    width: 280px;
    text-overflow: ellipsis;
}
@media only screen and (min-width: 1200px) {
    .pagamento__seleçao {
        font-size: 1.5vw;
        width: 23.5vw;
        margin-bottom: 2vw;
    }
}
/* Segunda parte do bloco, contém feedback da transação e só é revelada após realizado o pagamento */
.pagamento__resultado {
    background-image: linear-gradient(45deg, green, greenyellow);
    position: relative;
    right: -46vw;
    width: 86vw;
    display: flex;
    align-items: center;
    padding: 1.5vw 4vw;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.5);
    border-radius: 12px;
    transition: right .6s ease-in-out, opacity .2s;
    opacity: 0;
}
.pagamento__resultado_revelado {
    right: 0vw;
    opacity: 1;
}
.pagamento__resultado_reprovado {
    background-image: linear-gradient(45deg, red, orangered);
}
@media only screen and (min-width: 1200px) {
    .pagamento__resultado {
        width: 42vw;
        padding: 1.5vw;
    }
}
/* SVG do resultado */
.pagamento__imagem {
    height: 80px;
    fill: white;
}
@media only screen and (min-width: 1200px) {
    .pagamento__imagem {
        height: 4vw;
    }
}
/* Texto do resultado */
.pagamento__texto {
    flex-grow: 1;
    text-align: center;
    color: white;
    font-size: 20px;
}
@media only screen and (min-width: 1200px) {
    .pagamento__resultado {
        font-size: 1.3vw;
    }
}