/* Lista de usuários */
.usuarios {
    padding: 0;
    margin: 120px 4vw;
    width: 92vw;
    transition: margin .6s ease-in-out;
}
@media only screen and (min-width: 1200px) {
    .usuarios {
        width: 46vw;
        margin: 10vw 0 8vw 27vw;
    }
    .usuarios_esquerda {
        margin: 10vw 0 8vw 4vw;
    }
}
/* Item da lista de usuários */
.usuarios__item {
    background-image: linear-gradient(45deg, green, greenyellow);
    margin-bottom: .75em;
    border-radius: 12px;
    overflow: hidden;
    height: 160px;
    display: flex;
    align-items: center;
    padding-right: 2vw;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.5);
    transition: filter .4s;
}
.usuarios__item_apagado {
    filter: grayscale(100%);
}
@media only screen and (min-width: 1200px) {
    .usuarios__item {
        height: 8vw;
    }
}
/* Imagem do usuário */
.usuarios__foto {
    min-height: 100%;
}
/* Flex secundário, irrelevante na versão desktop mas importante para a responsividade */
.usuarios__flex-mobile {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}
/* Bloco de informações do usuário */
.usuarios__info {
    margin-left: 1vw;
    flex-grow: 1;
    color: white;
    width: 100%;
    text-align: center;
}
@media only screen and (min-width: 1200px) {
    .usuarios__info {
        width: auto;
        text-align: left;
    }
}
/* nome do usuário */
.usuarios__nome {
    font-size: 20px;
    margin: 0 0 .25em;
    text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
    .usuarios__nome {
        font-size: 1.5vw;
    }
}
/* ID e username do usuário */
.usuarios__dados {
    font-size: 12px;
    margin: 0 0 1.5em;
}
@media only screen and (min-width: 1200px) {
    .usuarios__dados {
        font-size: 1.2vw;
        margin: 0;
    }
}